<!DOCTYPE html>
<html>
    <head>
        <title>To do app</title>
        <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
        <link href="styles.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <h1>its my to do app</h1>
        <div class="todo-table">
            <form>
                <input type="text" placeholder="Add new iten" id="itme" name="item"/>
                <button type="submit" id="add">Add</button>
            </form>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </div>
    </body>
</html>